@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway:ital,wght@0,300;0,500;1,300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 85px 4%;
    padding-left: 15px;
    padding-right: 15px;
}

h1{
    color: #252525;
    font-weight: 400;
    letter-spacing: 2px;
}

h3{
    border-bottom: 1px solid #252525;
    font-size: 12px;
    color: #252525;
    letter-spacing: 2px;
    padding-bottom: 7px;
    margin: 5px 0 0 0;
}

.italic{
    font-family: 'Playfair Display', serif;
}

header{
    margin-bottom: 40px;
}

.intro{
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px 20%;
    font-weight: 300;

}

.line{
    width: 40px;
    height: 1px;
    background-color: #252525;
    margin: 0px auto;
}

.linefooter{
    width: 70%;
    height: 1px;
    background-color: #252525;
    margin: 0px auto;
    overflow: hidden;
}

.navlink{
    text-decoration: none;
    color: #7a7a7a;
    letter-spacing: 2px;
    padding: 32px;
    font-size: 12px;
    font-weight: 500;
}

.navlink:hover{
    text-decoration: underline;
    color: #5ed9e7;
}

li{
    list-style: none;
    display: inline-block;
    overflow: hidden;
}

nav{
    margin-left: 0px;
}

footer{
    color: #7a7a7a;
    margin-left: 20px;
    margin-right: 20px;
}

.footertext{
    font-family: 'Playfair Display', serif;
    position: relative;
    letter-spacing: 1px;
    line-height: 26px;
}

.footerlink{
    text-decoration: none;
    color: #5ed9e7;
}
.footerlink:hover{
    text-decoration: underline;
    color: #5ed9e7;
}

.footericocontainer{
    float: left;
    padding: 10px;
    position: absolute;
    margin-left: 13.5%;
}

.footerico{
    padding: 10px;
}

.imgmiddle{
    margin: 120px auto;
    overflow: clip;
}

.textbox{
    border: 1px solid #dbdbdb;
    padding: 25px;
    min-height: 374px;
    position: relative;
    text-align: left;
    float: left;
    width: 330px;
    font-weight: 300;
}

.textbox p{
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #333;
}

.textboxcontainer{
    margin-left: 270px;
    margin-right: 270px;
}

.imgbox{
    width: 370px;
    height: 372px;
}

.column{
    display: inline;
}